extends layout

block content
  .container
    h1 התקבל אישור בריאות
    div שם הילד/ה: #{child_name}
    div ת״ז הילד/ה: #{child_id}
    div קבוצה: #{group}
    div שם ההורה: #{parent_name}
    div טלפון: #{phone}
    div חום: #{temperature}
    div תאריך: #{date}
    div מס׳ אישור: #{id}
